/* Header and top navigation */

h1 {
 font-size: 24px;
}

div.top-nav p#day {
  width: 40%;
  font-size: 110%;
}

div.top-nav p#today-link, div.top-nav p#tomorrow-link {
  width: 30%;
  font-size: 12px;
  padding-top: 3px;
}


/* Timetables section */

h2 {
  font-size: 18px;
}

p, form tr td {
  font-size: 12px;
}



/* Bottom navigation */

div.bottom-nav a {
    margin: 0px 3px;
}