/* Basics */

body {
  background-image: none;
  background-color: #ffffff; 
}

div.content {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  box-shadow: none;
}



/* Header and top navigation */

h1 {
 font-size: 24px;
}

div.top-nav {
  width: 100%;
}

div.top-nav p {
  margin-bottom: 0px;
}

div.top-nav p#day {
  width: 40%;
  font-size: 110%;
}

div.top-nav p#today-link, div.top-nav p#tomorrow-link {
  width: 30%;
  font-size: 14px;
  padding-top: 3px;
}


/* Timetables section */

h2 {
  font-size: 18px;
}

p, form tr td {
  font-size: 14px;
  padding: 3px 0px;
}



/* Bottom navigation */

div.bottom-nav a {
    font-size: 14px;
    margin: 0px 3px;
}

div.bottom-nav p#today-tomorrow a {
    font-size: 16px;
    margin: 0px 5px;
}