/* Basic layout */

body {
  font-family: Helvetica, sans-serif;
  background-image: url('/static/images/wave.png'); 
}

div.content {
  width: 400px;
  margin: 10px auto;
  padding: 10px 40px 40px 40px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  box-shadow: 2px 2px 3px #99B2BE;
}

a, a:visited {
  color: #007DBA;
}


/* Header and top navigation */

h1 {
 color: #009CEB;
 text-align: center;
 margin-bottom: 0;
}

div.top-nav {
  width: 400px;
  text-align: center;
  overflow: auto;
}

div.top-nav p#day {
  width: 50%;
  float: left;
}

div.top-nav p#today-link, div.top-nav p#tomorrow-link {
  text-align: left;
  float: left;
  width: 25%;
}

div.top-nav p#tomorrow-link {
  text-align: right;
}


/* Timetables section */

h2 {
 color: #009CEB;
}

td {
  width: 200px;
  background-color: #6EC9F5;
  text-align: center;
  padding: 5px 0px;
}

tr:nth-child(odd) td {
  background-color: #ADE2FF;
}


/* Bottom navigation */

div.bottom-nav {
 text-align: center;
 margin-top: 30px;
}

div.bottom-nav p {
 margin-top: 20px;
}

div.bottom-nav p#about {
 margin-top: 40px;
}

div.bottom-nav p#today-tomorrow {
 font-size: 110%;
}

div.bottom-nav a {
    margin: 0px 8px;
}