body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

body {
background-color: #fff;
}

div#content{
width: 100%;
}


h1, h2 {
 color: #009CEB;
}

h1 {
 text-align: center;
 margin-bottom: 0;
}

div.top-nav {
  width: 100%;
  text-align: center;
  overflow: auto;

}

div.top-nav p#day {
  text-align: center;
  width: 50%;
  float: left;
}

div.top-nav p#today-link {
  text-align: left;
  float: left;
  width: 25%;
}

div.top-nav p#tomorrow-link {
  text-align: right;
  float: left;
  width: 25%;
}

div.bottom-nav {
 text-align: center;
 margin-top: 30px;
}

div.bottom-nav p {
 margin-top: 20px;
}

div.bottom-nav a {
    margin: 0px 8px;
}

td {
  width: 200px;
  background-color: #6BCEFF;
  text-align: center;
}

tr:nth-child(odd) td {
  background-color: #A8E2FF;
}



